body.useFancyHighlight .activeSearchResultContainer a {
  outline: 0;
}

body.useFancyHighlight .activeSearchResultContainer > div {
    position: relative;
}

body.useFancyHighlight .activeSearchResultContainer {
  border-left: 3px solid #2586fc !important;
  transform: translate(-3px, 0) !important;
}

body.useFancyHighlight div.g.activeSearchResultContainer,
body.useFancyHighlight li.ads-ad li.activeSearchResultContainer,
body.useFancyHighlight div.gs_r.activeSearchResultContainer {
  padding-left: 8px;
  margin-left: -11px;
  transform: none !important;
}

body.useFancyHighlight .activeSearchResultContainer img {
  border-top: 3px solid #2586fc !important;
}

body.useSimpleHighlight .activeSearchResultContainer {
  border-left: 5px solid #1a73e8;
  padding-left: 10px;
  background-color: rgba(26, 115, 232, 0.05);
}

body.useSimpleHighlight .activeSearchResult {
  outline: 0;
}

div[role="navigation"] table a:focus {
  text-decoration: underline;
}